@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card" style=" margin-top: 20px">
    <div class="card-header">
        <h1>Gary's Takeaway Pizzas</h1>
        <h3>Ham and Pineapple only</h3>
        <p class="card-text">No we don't make any other types, get with it.</p>
    </div>
    <div class="card-body">
        <div class="col">
            @for (var index = 0; index < Model.mealOrder.MealList.Count(); index++)
            {

                <img src="~/images/@Model.mealOrder.MealList[index].Image" style="width: 50px; height: 50px; margin: 10px" />

                <label>  &nbsp; &nbsp; &nbsp; &nbsp;</label>
            }

        </div>
        <form method="post">
            <div class="form-group">
                <div class="row">

                    <div class="col">
                        <h5>Choose your meal types</h5>
                        @for (var index = 0; index < Model.mealOrder.MealList.Count(); index++)
                        {

                            <input type="checkbox" asp-for="@Model.mealOrder.MealList[index].IsChecked" class="form-check-input" style="accent-color: #007bff; background-color: #74992e; appearance: checkbox;" />
                            <label class="form-check-label" asp-for="@Model.mealOrder.MealList[index].IsChecked"> @Model.mealOrder.MealList[index].LabelName</label>
                            <label> - How many meals?</label>
                            <input type="number" asp-for="@Model.mealOrder.MealList[index].CountOfMeals" style="min-width: 10%; height: 20px" />

                            <input type="hidden" asp-for="@Model.mealOrder.MealList[index].Id" />
                            <input type="hidden" asp-for="@Model.mealOrder.MealList[index].LabelName" />
                            <input type="hidden" asp-for="@Model.mealOrder.MealList[index].CountOfMeals" />
                            <input type="hidden" asp-for="@Model.mealOrder.MealList[index].Price" />
                            <input type="hidden" asp-for="@Model.mealOrder.MealList[index].Image" /> <!-- Include this hidden input -->
                            <br />

                        }
                    </div>

                    @*https://www.learnrazorpages.com/razor-pages/forms/radios*@
                    <div class="col">
                        <h5>Choose your Membership type</h5>
                        @for (int i = 0; i < Model.mealOrder.MembershipList.Count(); i++)
                        {
                            <input type="radio" asp-for="@Model.mealOrder.selectedMembershipBSG" value="@Model.mealOrder.MembershipList[i].LabelName"
                                   name="mealOrder.selectedMembershipBSG" class="form-radio-input" /> @Model.mealOrder.MembershipList[i].LabelName <br />
                            }


                    </div>
                </div>


                <div class="row">
                    <input type="submit" value="Calculate Payment" asp-action="Index" />
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <h3>You owe us ....</h3>

        <div class="row">
            <h5 class="card-text">Final Price $@ViewData["totalCost"] </h5>
        </div>
    </div>
</div>




