@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card" style=" margin-top: 20px">
    <div class="card-header">
        <h1>Add Your Title</h1>
        <h3>Header</h3>
        <p class="card-text">Add stuff here</p>
    </div>
    <div class="card-body">
       
        <form method="post">
            <div class="form-group">
                <div class="row">

                    <div class="col">
                        <h5>Choose your meal types</h5>
                        @*@foreach (var meal in Model.mealOrder.meals)*@
                        @for (var index = 0; index < Model.mealOrder.MealList.Count(); index++)
                        {

                            <input type="checkbox" asp-for="@Model.mealOrder.MealList[index].IsChecked" class="form-check-input" />
                            <label class="form-check-label" asp-for="@Model.mealOrder.MealList[index].IsChecked">
                                @Model.mealOrder.MealList[index].LabelName
                            </label>
                            <label> - How many meals?</label>
                            <input type="number" asp-for="@Model.mealOrder.MealList[index].CountOfMeals" class="form-check-input" style="min-width: 10%; height: 20px" />

                            <input type="hidden" asp-for="@Model.mealOrder.MealList[index].Id" />
                            <input type="hidden" asp-for="@Model.mealOrder.MealList[index].LabelName" />
                            <input type="hidden" asp-for="@Model.mealOrder.MealList[index].CountOfMeals" />
                            <input type="hidden" asp-for="@Model.mealOrder.MealList[index].Price" />
                            <br />

                        }
                    </div>
             

                    <div class="col">
                        <h5>Choose your Membership type</h5>
                        @for (int i = 0; i < Model.mealOrder.MembershipList.Count(); i++)
                        {
                            <input type="radio" asp-for="@Model.mealOrder.MembershipList[i]." value="@Model.mealOrder.selectedMembership" class="form-check-input" /> @Model.mealOrder.MembershipList[i].LabelName <br />

                            <input type="hidden" asp-for="@Model.mealOrder.MembershipList[i].Id" />
                            <input type="hidden" asp-for="@Model.mealOrder.MembershipList[i].LabelName" />
                            <input type="hidden" asp-for="@Model.mealOrder.MembershipList[i].Discount" />
                          
                        }
                    </div>

                </div>

                @*<div class="row">
                    <div class="col">
                        <h5>Totals</h5>
                        Discount  <input asp-for="@Model.mealOrder.Discount" /> <br />
                        Tax <input  asp-for="@Model.mealOrder.Tax" /> <br />
                        Total Price <input  asp-for="@Model.mealOrder.TotalPrice" />

                    </div>
                </div>*@

                
                <div class="row">
                    <input type="submit" value="Submit" asp-action="Index" />
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <h3>Footer</h3>

        <div class="row">
            <p class="card-text">Add stuff here</p>
        </div>
    </div>
</div>
